// Fonts
$font-family-base: 'Agency FB', sans-serif;
$font-size-base: 16px;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #363636;
$color-light: #f8f9fa;
$color-feature: #050509;
$color-gray-light: #DADADA;
$color-primary: #202020; // Your brand black
$color-accent: #ff3b3f; // Example accent

// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;