@use "../variables" as *;

.features {
    color: $color-gray-light;
    background-color: $color-feature;

    &__heading {
        font-size: 1.4rem;

        @media (min-width: $breakpoint-md) {
            font-size: 4rem;
        }
    }

    &__spec {
        font-size: 1.8rem;

        @media (min-width: $breakpoint-md) {
            font-size: 3rem;
        }
    }

    &__product-name {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: .9rem;
    }

    &__image {
        width: 100%;
        height: auto;
    }
}